<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
       
       <bean  name='course1' class="com.collection.model.Course"> 
       <property name="courseName" value="Mathematics" />
       </bean>
       <bean  name='course2' class="com.collection.model.Course"> 
       <property name="courseName" value="Science" />
       </bean>
       <bean name="students" class="com.collection.model.Student">
       <property name="name" value="yuna" />
       <property  name="courses">
       <list>
       <ref bean="course1" />
       <ref bean="course2" />
       </list>
       </property>
       </bean>
</beans>